body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
    font-family: 'Crimson Text',serif;
}
body{
    background:#FFFFFF;
}
.social-link{
     margin-left: 20px;
    margin-right: 28px;
    padding-top: 16px;
}
.social-link i {
    font-size: 18px;
    color: #181818 !important;
}
.social-link li a, .nav .social-link li a i {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}
.social-link li {
    line-height: 18px;
    border: none;
    border-right: 1px solid;
}
.social-link ul li:last-of-type {
    border: none;
    padding-right: 0;
}
.social-link ul li {
    padding: 0 18px;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    display: inline-block;
    border: 1px solid #c7c7c7;
    border-width: 0 1px 0 0;
}
/***** Ming *****/
/*---------------*/

figure.effect-ming {
    background: #f1f4f7;
}

figure.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
   -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    opacity: 0;
    padding-left: 33px;
    margin-top: -329px;
    margin-bottom: 68px;
}

figure.effect-ming p {
   opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-top: -71px;
    float: left;
    padding-left: 42px;
}

figure.effect-ming:hover h2 {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
   
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
    opacity: 0.4;
}

/*---------------*/
/*-- banner --*/
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*-- header-left --*/
.header {
    padding: 1em 2em;
    background: #212121;
    border-bottom: 1px solid #6d6d6d;
}
/*-- //header-left --*/
/*-- header-bottom --*/
.header-bottom {
    background: #fff;
    padding: 0.8em 2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    border-bottom: 1px solid #c4bfbf;
}
.logo{
    text-align: center;
    float: left;
}
.logo h1 {
    margin: 0;
}
.logo h1 a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- top-nav --*/
.top-nav{
    text-align: center;
    margin: -1.2em 0 0 0;
}
.navbar-default {
    border: none !important;
    background: none !important;
    margin: 0 !important;
    min-height: 0 !important;
    padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none !important;
}
.top-nav ul{
    padding: 0;
    float: right;
}
.top-nav ul li{
    display: inline-block;
    float: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
    outline: none;
    border-right: none;
}
.top-nav ul li a{
    color: rgb(24, 24, 24) !important;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    margin: 0 1em;
    padding: 0 17px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    border-right: none;
    text-transform: uppercase;
    display: block;
    line-height: 25px;
    position: relative;
    transition: 0.3s ease;
}
.top-nav ul li a.list-border{
    border-left: none;
}
.top-nav ul li a:hover{
    color: #8b8b8b !important;
}
.top-nav ul li a.active{
    color: #8b8b8b !important;
    background: none;
}
ul.dropdown-menu {
    background: rgb(24, 24, 24);
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 2.8em;
    left: 0px;
    min-width: 106px;    
}
ul.dropdown-menu li{
    width: 100% !important;
    margin: 0 !important;
}
ul.dropdown-menu li:after{
    background:none !important;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em !important;
    text-align: center;
    clear: both;
    margin: .2em 0 !important;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFF !important;
    border: none !important;
}
.dropdown a ul li a:hover{
    color: #000 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #FFFFFF;
    color:#fec303 !important
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 103%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 5px 0 5px 5px;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-- //top-nav --*/
/*-- services --*/
.services{
    padding:5em 0;
    background-color: #fff;
}
.services-agileinfo {
    margin-top: 5em;
}
.services-icon {
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 1.4em 0;
    margin: 0 auto 1em;
    border: 1px solid #f3b600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.amount-list [class*=col-] {
    width: 20%;
}
.amount-list [class*=col-] .amount-item {
    min-height: 160px;
    border-right: 1px solid #e2e2e2;
    margin-left: -15px;
}
.amount-list .amount-item {
    padding: 38px 0 60px;
    text-align: center;
}
.amount-list .amount-item .amount-number {
    font-size: 60px;
    color: #181818;
    display: block;
    font-family: Montserrat,sans-serif;
}
.amount-list .amount-item .amount-des {
    font-size: 12px;
    color: #181818;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat,sans-serif;
}
.amount-list {
    margin-top: 65px;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    font-size: 0;
    letter-spacing: 0;
}
.amount-list [class*=col-]:nth-last-of-type(1) .amount-item {
    border-right: none;
}
.bor-underline:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 7px;
    margin-left: 1px;
    background-color: #252525;
    position: absolute;
    bottom: 0;
}
#history{
  background-color: #fff;
    padding: 0;
    position: relative;
    padding-top: 93px;
}
.section-title {
    margin: 0 0 15px;
}
.title-sty2 .h3 {
    margin-bottom: 60px;
   text-transform: uppercase;
}
.title-sty2 span {
    font-size: 15px;
    font-style: normal !important;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    letter-spacing: 2px !important;
    margin-bottom: 42px;
}
.section-content {
    margin: 15px 0 0;
}
.content-italic p {
    font-style: italic;
    color: #696969;
    font-size: 15px;
}
.link-detail {
    margin-top: 75px;
}
.btn-default {
    color: #181818;
    background-color: transparent;
    border: 2px solid #181818;
}
/*--Team--*/
.section-ourteam {
    padding-top: 102px;
    padding-bottom: 115px;
}
.section-title {
    margin: 0 0 15px;
}
.human-list {
    margin-top: 41px;
}
.human {
    margin: 20px 0;
    position: relative;
    text-align: left;
    perspective: 500px;
}
.human img {
    width: 100%;
    height: auto;
}
.human-des {
    width: 100%;
    height: 100%;
    padding: 9px;
    position: absolute;
    top: 0;
    left: 0;
}
.human-des-content {
    height: 100%;
    padding: 20px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-transform: scale(1.12,1.12);
    -moz-transform: scale(1.12,1.12);
    -ms-transform: scale(1.12,1.12);
    -o-transform: scale(1.12,1.12);
    transform: scale(1.12,1.12);
    background-color: rgba(255,255,255,.85);
}
.human-des-content .hdc-name {
    margin-top: 20%;
    margin-bottom: 1px;
}
.human-des-content .hdc-work {
    font-size: 16px;
    font-style: italic;
}
.quote-small {
   padding: 45px;
    margin: -84px 0 0;
    border: none;
    color: #231e1e;
    font-size: 16px;
    font-style: italic;
}
.human .social-link {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -79px;
}
.social-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    height: 100%;
}
.sol-vertical ul li {
    float: none;
    display: block;
    padding: 22px 0;
    margin: 0 15px;
    border-width: 0 0 1px;
}
.social-link i {
    font-size: 18px;
}
.section {
    padding: 120px 0;
    position: relative;
}
.bg-gray {
    background-color: #ececec;
}
/*--Portfolio-*/
#portfolio{
    background-color: #fff;
    padding: 0;
    position: relative;
    padding-top: 61px;
}
.filter-list {
    margin: 35px 0 20px;
    padding: 0;
    font-size: 0;
    letter-spacing: 0;
}
.filter-list li {
    color: #181818;
    font-size: 10px;
    line-height: 32px;
    letter-spacing: 2px;
    padding: 0 13px;
    display: inline-block;
    margin: 6px 5px;
    border: 1px solid #e2e2e2;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-list li.active {
    border-color: transparent;
    background-color: #181818;
    color: #fff;
}
.filter-content {
    margin: 40px 0 0;
    width: 100%;
}
.gallery-masory .gallery-item {
    margin: 0;
    padding: 0;
}
.gallery .gallery-item {
    position: relative;
    overflow: hidden;
}
.gallery-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.filter-content .md-style5 .figcaption {
    opacity: 1;
    visibility: visible;
}
.filter-content .figcaption {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.filter-content .md-style5 .figcaption .figcaption-content {
    position: relative;
    background: 0 0;
    z-index: 9;
}
.filter-content .figcaption .figcaption-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
}
.ds-table-auto {
    display: table;
    width: 100%;
    height: 100%;
}
.filter-content .md-style5 .figcaption .ds-cell-auto {
    opacity: 0;
    -webkit-transition: all .4s linear .3s;
    -moz--transition: all .4s linear .3s;
    -ms-transition: all .4s linear .3s;
    -o-transition: all .4s linear .3s;
    transition: all .4s linear .3s;
}
.ds-cell-auto {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.filter-content .figcaption .figcaption-content .caption .h5 {
    margin-bottom: 5px;
}
.filter-content .figcaption .figcaption-content .caption .h5 a {
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}
.filter-content .figcaption .figcaption-content .tags-title {
    display: none;
}
.tags>span i {
    font-size: 15px;
    color: #181818;
    margin-right: 10px;
}
.filter-content .figcaption .figcaption-content .tags li, .filter-content .figcaption .figcaption-content .tags ul {
    float: none;
    display: inline-block;
}
.ul-list-inline {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.filter-content .figcaption .figcaption-content .tags li, .filter-content .figcaption .figcaption-content .tags li a {
    color: #696969;
    font-style: italic;
    font-family: 'Crimson Text',serif;
    font-size: 16px;
}
.filter-content .figcaption .figcaption-content .tags li, .filter-content .figcaption .figcaption-content .tags ul {
    float: none;
    display: inline-block;
}
/*-- //services --*/
/*--Pricing---*/
.pricing-table {
    text-align: center;
    margin-top: 18%;
    padding: 25px 10% 60px;
    background-color: #fff;
}
.pricing-header {
    border-bottom: 1px solid #e2e2e2;
}
.pricing-header .star {
    visibility: hidden;
}
.pricing-header .pricing-title {
    margin-top: 6px;
    margin-bottom: 1px;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
.pricing-header .pricing-txt-recommend {
    color: #181818;
    font-size: 11px;
    display: block;
    margin-bottom: 4px;
    visibility: hidden;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.pricing-body {
    padding-top: 23px;
}
.pricing-body .pricing-unit {
    color: #191919;
    font-size: 20px;
    vertical-align: top;
}
.pricing-body .pricing-number {
    font-size: 60px;
    color: #191919;
}
.pricing-apply ul {
    margin: 0;
    list-style: none;
    padding: 20px 0 50px;
}
.pricing-apply ul li {
    color: #696969;
    font-size: 16px;
    line-height: 36px;
    font-style: italic;
}
.btn-default {
    color: #181818;
    background-color: transparent;
    border: 2px solid #181818;
    text-transform: uppercase;
}
.pricing-footer a{
    font-family: Montserrat,sans-serif;
}
/*--//pricing*/
/*-- services --*/
.ser-agileitsinfo{
    background: url(../images/parallax2.jpg)no-repeat 0px 0px fixed;
    background-size: cover;
}
.services {
    background: rgba(255,255,255,.8);
    padding: 5em 5em;
}
.services h4 {
    font-size: 2.8em;
    color: #fff;
    font-weight: 300;
}
.services form {
    width: 76%;
    margin: 3em auto 0;
}
.services input[type="email"] {
    width: 70%;
    padding: .8em 1em;
    font-size: 1em;
    float: left;
    color: #fec303;
    outline: none;
    border: 1px solid #fff;
    border-right: none;
    background: #fff;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.services input[type="submit"] {
    float: left;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .8em 2em;
    border: 1px solid #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-appearance: none;
    background: none;
    font-weight: 600;
}
.services form:hover input[type="email"] {
    border-color: #fec303;
}
.services form:hover input[type="submit"] {
    border-color: #fec303;
    background:#fec303;
    color: #fff;
}
.services ::-webkit-input-placeholder {
    color:#fec303 !important;
}
.services :-moz-placeholder { /* Firefox 18- */
    color:#fec303 !important;
}
.services ::-moz-placeholder {  /* Firefox 19+ */
    color:#fec303 !important;
}
.services :-ms-input-placeholder {
    color:#fec303 !important;
}
.ser-agileitsinfo h3 {
    color: #fff;
    font-size: 36px;
    margin: 0 0 1em;
}
 .ser-agileitsinfo p {
    color: #000;
}
.parallax-content {
    padding: 9.5% 6.5% 6%;
}
.parallax-content .section-title {
    margin-top: 8px;
}
.section-title .h3 {
    margin-top: 0;
    margin-bottom: 35px;
    letter-spacing: 4px;
    line-height: 24px;
    color: #000;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
}
.section-title span {
    display: block;
    color: #181818;
    font-size: 20px;
    font-style: italic;
    letter-spacing: .1px;
}
.section-content {
    margin: 15px 0 0;
}
.project-list.style-projt2 {
    margin-top: 17px;
}
.project-list {
    overflow: hidden;
    position: relative;
}
.project-list.style-projt2 .project-item {
    width: 50%;
    float: left;
}
.project-list .project-item-content {
    padding-left: 50px;
    position: relative;
}
.project-header .project-logo {
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: 0;
}
.section-services .project-header .project-title {
    letter-spacing: 2px;
}
.project-list.style-projt2 .project-body {
    padding-right: 20%;
}
.project-body {
    padding: 20px 0 0;
}
.project-list.style-projt2 .project-item:nth-child(2n) {
    padding-left: 40px;
}
.project-list.style-projt2 .project-item {
    width: 50%;
    float: left;
}
.project-list .project-item {
    padding: 45px 0;
}
/*-- //Services --*/
/*-- Ideas&Inslight--*/
.ideas-agileitsinfo{
    background: url(../images/parallax1.jpg)no-repeat 0px 0px fixed;
    background-size: cover;
}
.ideas {
    background-color: rgba(255,255,255,.8);
    padding: 5em 5em;
}
.ideas h4 {
    font-size: 2.8em;
    color: #fff;
    font-weight: 300;
}
.ideas form {
    width: 76%;
    margin: 3em auto 0;
}
.ideas input[type="email"] {
    width: 70%;
    padding: .8em 1em;
    font-size: 1em;
    float: left;
    color: #fec303;
    outline: none;
    border: 1px solid #fff;
    border-right: none;
    background: #fff;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
}
.ideas input[type="submit"] {
    float: left;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .8em 2em;
    border: 1px solid #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-appearance: none;
    background: none;
    font-weight: 600;
}
.ideas form:hover input[type="email"] {
    border-color: #fec303;
}
.ideas form:hover input[type="submit"] {
    border-color: #fec303;
    background:#fec303;
    color: #fff;
}
.ideas ::-webkit-input-placeholder {
    color:#fec303 !important;
}
.ideas :-moz-placeholder { /* Firefox 18- */
    color:#fec303 !important;
}
.ideas ::-moz-placeholder {  /* Firefox 19+ */
    color:#fec303 !important;
}
.ideas :-ms-input-placeholder {
    color:#fec303 !important;
}
.ideas-agileitsinfo h3 {
    color: #fff;
    font-size: 36px;
    margin: 0 0 1em;
}
 .ideas-agileitsinfo p {
    color: #000;
}
.project-list.style-projt3 .project-item-content {
    padding-left: 0;
}
.project-list .project-item-content {
    padding-left: 50px;
    position: relative;
}
.project-header .author-description {
    margin-bottom: 5px;
    padding: 0 2px 6px 0;
    display: inline-block;
    border-bottom: 1px solid #181818;
}
.project-header .author-description span, .project-header .date-post {
    color: #181818;
    font-style: italic;
}
.project-header .author-description .author-name a {
    text-decoration: none;
    color: #000;
}
.project-header .project-title {
    margin-bottom: 0;
    letter-spacing: 4px;
}
.section-idea .project-header .project-title {
    font-size: 14px;
    letter-spacing: 2px;
}
.section-idea .project-header .project-title a {
    color: inherit;
}
.project-list.style-projt3 .project-body {
    padding-top: 10px;
}
.project-body {
    padding: 20px 0 0;
}
.section-idea .project-list .project-item:nth-of-type(2) {
    padding-bottom: 0;
}
.project-list .project-item:last-child {
    border-bottom: none!important;
}
.section-idea .view-post {
    padding-top: 31px;
}
.project-title a{
    color: #000;
    text-decoration: none;
}
/*-- //Ideas&Inslight --*/
/*--clients--*/
.clients-slider {
    margin-top: 57px;
    padding: 20px
}
.theme-slider {
    position: relative;
}
.clients-slider .clients-logo {
    text-align: center;
}
.section-clients{
    background-color: #fff;
}
/*--//clients--*/
/*--qoutes--*/
.ideas-agileitsinfo2{
    background: url(../images/parallax3.jpg)no-repeat 0px 0px fixed;
    background-size: cover;
}
.qoutes{
    padding: 5em 5em;
}
.theme-slider {
    position: relative;
}
.theme-slider .theme-slider-item {
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 0 0;
}
.theme-slider .ts-item-title {
    margin-bottom: 20px;
}
.theme-slider .ts-item-title .circle-img {
    width: 110px;
    height: 110px;
}
.circle-img {
    border-radius: 50%;
    overflow: hidden;
}
.circle-img img {
      display: block;
    width: 9% !important;
    margin: 0 auto;
    border-radius: 50%;
}

.theme-slider .ts-item-body {
    color: #fff;
}
.awquote-dbquotes {
    border: none;
    color: #fff;
    font-size: 22px;
    font-style: italic;
    line-height: 26px;
}
.author-description span, .date-post, .time-post {
    font-size: 16px;
    color: #9b9b9b;
    font-style: italic;
    line-height: 16px;
    letter-spacing: .1px;
}
.author-description{
    text-align: center;
}
.author-name a{
    letter-spacing: 2px;
    font-style: normal;
    font-family: Montserrat,sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #c2c2c2;
    text-decoration: none;
    font-weight: 600;
}
.name-company a{
    text-align: center;
      color: #c2c2c2;
}
.theme-slider .ts-item-footer .author-description span * {
    color: #c2c2c2;
    text-decoration: none;
}
.theme-slider .ts-item-footer .author-description span {
    display: block;
}
.theme-slider .ts-item-footer .author-description .author-name * {
    letter-spacing: 2px;
    font-style: normal;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}
/*--//qoutes--*/
/* footer */
footer {
    background-color: #181818;
}
.footer-content {
    overflow: hidden;
    padding: 58px 0 87px;
    position: relative;
}
.theme-info .theme-logo {
    float: none;
    height: auto;
    margin-bottom: 30px;
}
.theme-logo {
    height: 96px;
    float: left;
    display: table;
}
.theme-description p {
    line-height: 24px;
    padding: 0 0 17px;
    letter-spacing: .1px;
    margin-bottom: 5px;
    color: #e1dede;
}
.theme-time-detail{
     color: #e1dede;
}
.theme-address ul {
    list-style: none;
    padding: 40px 0 45px;
    margin: 0;
}
.theme-address ul li, .theme-address ul li a {
    color: #fff;
    font-size: 10px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Montserrat,sans-serif;
}
.theme-address ul li {
    margin-bottom: 15px;
}
.theme-address ul li .icon-square {
    margin-right: 20px;
}
.icon-square {
    width: 31px;
    height: 31px;
    display: inline-block;
    border: 1px solid #222;
    text-align: center;
}
.theme-time-title {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    padding: 0 60px 7px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #222;
}
.theme-contact .h3 {
    color: #fff;
    margin-top: 0;
    letter-spacing: 4px;
}
.bor-underline {
    padding-bottom: 15px;
    position: relative;
}
.theme-contact p {
    font-size: 20px;
    font-style: italic;
    margin-top: 25px;
}
.form {
    margin-top: 60px;
}
input[type=email], input[type=number], input[type=password], input[type=text], input[type=url] {
    width: 100%;
    height: 46px;
    line-height: 44px;
    border: 1px solid #222;
    background-color: transparent;
    font-size: 16px;
    color: #585858;
    font-style: italic;
    padding: 0 18px;
    margin: 7.5px 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.footer-copyright {
    border-top: 1px solid #222;
}
.footer-copyright .footer-copyright-content {
    height: 90px;
}
.ds-table-auto {
    display: table;
    width: 100%;
    height: 100%;
}
.ds-cell-auto {
    display: table-cell;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
.footer-copyright p {
    text-align: left;
    float: left;
    margin: 0;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
     color: #e1dede;
}
.footer-copyright .footer-copyright-content .social-link {
    height: auto;
    float: right;
}
textarea {
    width: 100%;
    height: 194px;
    border: 1px solid #222;
    background-color: transparent;
    font-size: 16px;
    color: #585858;
    font-style: italic;
    padding: 18px;
    margin: 7.5px 0;
    resize: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.form-submit {
    margin-top: 20px;
    overflow: hidden;
}
.type-but.but-light, button.type-but.but-light, input[type=button].type-but.but-light, input[type=reset].type-but.but-light, input[type=submit].type-but.but-light {
    color: #585858;
    font-size: 12px;
    line-height: 37px;
    padding: 0 22.5px;
    letter-spacing: 2px;
   border: 2px solid #585858;
    background-color: #222;
}
.nav-icon-style2 i {
    color: #696969 !important;
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s;
}
.nav-icon-style2 li {
    border-color: #3c3c3c;
}

/* //footer */
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- gallery --*/
.gallery {
    padding: 5em 0;
}
/*-- //gallery --*/
/*-- icons --*/
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}

.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #777;
}
@media (max-width:768px){
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
    font-size: 14px;
}
.breadcrumb {
    margin-bottom: 25px;
}

.label {
    font-size: 60%;
}
}

@media (max-width: 768px){
    .social-link ul{
    text-align: center;
}
.top-nav ul{
    text-align: center;
    float: none;
}
}

.team {
    padding: 5em 0;
}
/*-- responsive --*/
@media(max-width:1366px){
    .top-nav ul li a {
        margin: 0 1em;
    }
    .top-nav {
        width: 68%;
    }
}
@media(max-width:1280px){
    .top-nav {
        width: 65%;
    }
}
@media(max-width:1080px){
    .top-nav {
        width: 60%;
    }
    .top-nav ul li a {
        margin: 0 .5em;
    }
    .back {
        padding: 8em 1em 0;
    }
    .back h4 {
        letter-spacing: 2px;
    }
    .back {
        padding: 6em 1em 0;
    }
    .top-nav {
        width: 49%;
    }
    .top-nav ul li a {
        font-size: .9em;
    }

.services {
    padding: 5em 2em;
}
.services form {
    width: 100%;
}
.services input[type="email"] {
    width: 66%;
}
}
@media(max-width:1024px){
}
@media(max-width:991px){
    .logo {
        float: none;
        width: 100%;
        margin:0 0 1em 0;
    }
    .top-nav {
        width: 58%;
        text-align: left;
    }
    .back {
        padding: 6em .5em 0;
    }
    .back h4 {
        letter-spacing: 0px;
    }
    .back {
        padding: 4em .5em 0;
    }

.services {
    padding: 3em 0;
}
.services-agileinfo {
    margin-top: 3em;
}
.services {
    padding: 3em 2em;
}
.services input[type="email"] {
    width: 79%;
}
.news-info {
    margin-top: 3em;
}
.team {
    padding: 3em 0;
}
.gallery {
    padding: 3em 0;
}
.contact {
    padding: 3em 0;
}
}
@media(max-width:900px){
    .top-nav {
        width: 100%;
        text-align: center;
        float: none;
        margin: 1em 0;
    }
}
@media(max-width:767px){
    .navbar-toggle {
        float: none;
        margin-right: 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #fec303;
    }
    .navbar-default .navbar-toggle {
        border-color:#7c7b7b;
        background-color: #2f3132 !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .top-nav ul li {
        display: block;
        float: none;
        margin: 1em 0;
    }
    .top-nav ul li a {
        margin: 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
        position: absolute;
        width: 100%;
        background: rgb(241, 241, 241);
        z-index: 9999;
    }
    .services input[type="email"] {
    width: 77%;
}
}
@media(max-width:667px){
    .header-bottom {
        padding: 1em 1em;
    }
    .back {
        padding: 9em .5em 0;
    }
.services input[type="email"] {
    width: 74%;
}

}
@media(max-width:640px){

}
@media(max-width:600px){
    .effect-3:after {
        top: 22px;
        left: 22px;
    }
    .effect-2:after {
        top: 22px;
        left: 22px;
    }
    .back {
        padding: 8em .5em 0;
    }
.services input[type="email"] {
    width: 72%;
}
}
@media(max-width:568px){
    .services input[type="email"] {
    width: 70%;
}
}
@media(max-width:480px){
    .effect-2:after {
        top: 15px;
        left: 15px;
    }
    .effect-3:after {
        top: 15px;
        left: 15px;
    }
    .back {
        padding: 5em .5em 0;
    }
    .services input[type="email"] {
    width: 64%;
}
}
@media(max-width:414px){    
    .back {
        padding: 4em .5em 0;
    }
    .contact-form {
        margin: 0em 0 0 0;
    }
.services input[type="email"] {
    width: 100%;
    margin-bottom: 1em;
}
}
@media(max-width:384px){
    .logo h1 a {
        font-size: 1em;
    }
    .back {
        padding: 9em .5em 0;
    }
}
@media(max-width:320px){
    .logo h1 a {
        font-size: .8em;
    }
    .top-nav {
        margin: .5em 0;
    }
    .logo {
        margin: 0 0 .5em 0;
    }
.services {
    padding: 2em 0;
}
.services {
    padding: 2em 1em;
}
.services form {
    margin: 2em auto 0;
}
.social-link ul{
    text-align: center;
}
.top-nav ul{
    text-align: center;
    float: none;
}
h3.title {
    font-size: 1.6em;
}
ul.pagination li a {
    font-size: 14px;
    padding: 5px 11px;
}
.nav > li > a {
    font-size: 14px;
}
figure.effect-ming h2{
     margin-bottom: 24px;
}
}
@media (max-width:480px){
.label {
    font-size: 53%;
}
.pagination {
    margin: 20px 0 0px;
}
.anchor {
    margin-right: 25px;
    margin-top: 117px;
    margin-bottom: 22px;
}
.frame-img img{
    width: 100%;
}
.jarallax{
    top: 200px;
    z-index: 9999;
}
.carousel-caption h1 {
    font-size: 13px !important;
}
.carousel-caption p{
    font-size: 10px;
}
.amount-list [class*=col-] {
    width: -webkit-fill-available;
}
.amount-list [class*=col-] .amount-item{
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
}
.owl-carousel2 .owl-item img{
    width: 100% !important;
}
.circle-img img{
    width: 66% !important;
}
.awquote-dbquotes{
    font-size: 8px;
    text-align: center;
    line-height: 15px;
    margin-left: 4px;
}
.container {
    width: -webkit-fill-available !important;
}

}
@media screen and (max-width: 768px) and (min-width: 481px) {
.frame-img img{
        width: 100%;
}
.anchor{
     margin-right: 15px;
}
.container {
    width: -webkit-fill-available !important;
}
.carousel-caption h1 {
    font-size: 40px !important;
}
.jarallax{
        top: 45px;
}
}
@media screen and (max-width: 1148px) and (min-width: 769px) {
    .container {
    width: -webkit-fill-available !important;
}
.frame-img img{
width: 96%;
}
.top-nav{
    float: right;
    margin-top: 10px;
    width: 100% !important;
}
figure.effect-ming h2{
     margin-bottom: 5px;
     margin-top: -233px;
}
figure.effect-ming p{
    margin-top: -8px;
}
.quote-small{
      font-size: 12px;
}
}
@media screen and (max-width: 1440px) and (min-width:1149px) {
    .top-nav{
    float: right;
    margin-top: -32px;
    width: 100% !important;
}
}
/*-- //responsive --*/
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
.carousel-caption{
    top: 39%;
}
.carousel-caption h1{
    font-size: 50px;
}

